.example-viewport {
    height: 290px;
    width: 100%;
  }
  table {
  width: 100%;
  }

  .mat-form-field{
    padding-left: 10px;
    padding-right: 10px;
}

.mat-column-edit {
  flex: 0 0 60px !important;
  white-space: unset !important;
}
.mat-column-id {
  flex: 0 0 35px !important;
  white-space: unset !important;
}

.mat-column-carBrand {
  flex: 0 0 90px !important;
  white-space: unset !important;
}
